<div class="topic-information-inner-wrapper">
	<h2>Information on topic "{{label}}"</h2>

	<p>Total mentions: {{sentimentScore}}</p>

	<ul>
		<li>Positive mentions: <span class="positive-mention">{{positive}}</span></li>
		<li>Neutral mentions: <span class="neutral-mention">{{neutral}}</span></li>
		<li>Negative mentions: <span class="negative-mention">{{negative}}</span></li>
	</ul>
</div>