<div>
	<h2>Information on topic "{{label}}"</h2>

	<p>Total mentions: {{sentimentScore}}</p>

	<ul>
		<li>Positive mentions: <span class="positive-mention">{{sentiment.positive}}</span></li>
		<li>Neutral mentions: <span class="neutral-mention">{{sentiment.neutral}}</span></li>
		<li>Negative mentions: <span class="negative-mention">{{sentiment.negative}}</span></li>
	</ul>
</div>